{
    "googleUsername": "",
    "googlePassword": "",
    "jupiterUsername": "",
    "jupiterPassword": "",
    "homeworkDiscordToken": "",
    "missingHomeworkDiscordToken": "",
    "gradeDiscordToken": "",
    "discordUserId": ""
  }
  
